@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");
@import "tailwindcss";
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }

  html {
    font-family: "Google Sans Flex", sans-serif;
  }

  body {
    background-color: #f2f3f4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: #003554;
  }

  #root {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loader {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-sizing: border-box;
    border-top: 8px solid #003554;
    border-left: 8px solid #003554;
    border-right: 8px solid #ff00;
    animation: loader 0.7s infinite linear;
  }

  @keyframes loader {
    to {
      transform: rotate(360deg);
    }
  }
}

@theme {
  --color-bg-sidebar: #051923;
  --color-main-accent: #003554;
  --color-main-accent-hover: #00498e;
  --color-secondary-accent: #006494;
  --color-main-border: #0582ca;
  --color-main-border-focus: #00a6fb;
}
